<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>Welcome to our page</h1>
        <table>
            <tr>
                <th>Tables</th>
            </tr>
            <tr><td>Inventory</td></tr>
            <tr><td>Product</td></tr>
            <tr><td>Order</td></tr>
            <tr><td>Employees</td></tr>
            <tr><td>Customer</td></tr>
        </table>
    </main>
    
</body>
</html>