form {
	margin-top: 90px;
	display: initial;
}
.form_inputs input[type="submit"] {
	width: 25%;
}

.form_inputs_search {
	flex-direction: row;
	gap: 50px;
	justify-content: center;
}
.form_inputs_search input {
	width: 25%;
}
.form_inputs_search input[type="submit"] {
	margin: 0;
	width: 18%;
}
.div_span {
	text-align: center;
	margin-bottom: 35px;
}
span {
	font-size: 130%;
	letter-spacing: 1px;
}
.succesfull_span {
	color: #093a0fcd;
}
.error_span {
	color: darkred;
}
